[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "kableExtra"]
	path = kableExtra
	url = https://github.com/haozhu233/kableextra
	shallow = true
	registered = true
[submodule "giphyr"]
	path = giphyr
	url = https://github.com/haozhu233/giphyr
	shallow = true
	registered = true
